:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

* {
  margin: 0 auto;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  padding-top: 72px;
  box-sizing: border-box;
  font-family: var(--font-family);
  height: 3300px;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Navbar başlangıç */
.navbar-wrapper {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--white);
  border-bottom: 1px solid rgba(231, 233, 252, 1);
}

.nav {
  display: flex;
  position: relative;
}

.logo-header {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: bold;
  color: #4d5ae5;
  text-decoration: none;
  position: absolute;
  top: 24px;
  left: 20px;
  margin: 0 auto;
}

.logo-header span {
  color: var(--navy-blue);
}
/* Navbar başlangıç */

/* menu Başlangıç */
.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 220px;
  top: 24px;
}

.menu li a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  text-decoration: none;
}
.menu li a:hover {
  color: var(--ocean);
}
.menu .studio:active {
  color: var(--ocean);
  font-weight: bold;
}

.address ul {
  display: flex;
  gap: 20px;
  list-style: none;
  position: absolute;
  left: 990px;
  top: 25px;
  margin: 0 auto;
  padding: 0;
}

.address ul li a {
  color: #434455;
  text-decoration: none;
  display: flex;
  
}
.address ul li a:hover {
  color: #404bbf;
}
/* menu Bitiş */

/* Hero Başlangıç */
.hero-image {
  background-color: var(--navy-blue);
  max-width: 1200px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 160px;
}

.hero-image .text {
  color: white;
  font-size: 56px;
  max-width: 496px;
  margin: 0;
  line-height: 1.2;
}

.container> button {
  margin-top: 40px;
  background-color: var(--iris);
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.container > button:hover {
  background-color: var(--ocean);
}
/* Hero Bitiş */

/* Section 1 Başlangıç */
.section1 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1228px;
  margin: 100px auto 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

.section1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 264px;
  height: 72px;
  
}

.section1 ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  
  
}

.section1 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section1 p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2%;
  
}

/* Section 1 Bitiş */

/* Our Team Başlangıç */
.our-team {
  background-color: var(--cloud);
  padding: 50px 40px;
  text-align: center;
  width: 1440px;

  min-height: 600px;
  top: 1016px;
  position: static;
  margin-top: 100px;
}

.our-team-h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #2e2f42;

  width: 162px;
  font-weight: 700px;
  line-height: 40px;
  letter-spacing: 2%;
  margin-top: 30px;
}

.our-team-list {
  display: flex;
}
.team-info {
  height: 96px;
  margin-top: 20px;
}

.team-member {
  max-width: 264px;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  gap: 32px;
}
/* Our Team Bitiş */

/* Our Portfolio Başlangıç */
.our-portfolio {
  width: 1128px;
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  width: 218px;
  height: 40px;
  margin: 0 auto 40px auto;
  position: relative;
}

/* Satırlar */
.our-portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
  margin-top: 100px;
}

.our-portfolio-list-row-1,
.our-portfolio-list-row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; 
  margin: 0;
}
.our-portfolio-list-row-1{
  margin-top: -30px;
  margin-bottom: 30px;
}
.our-portfolio-card {
  width: 360px;
  border: 1px solid var(--cornflower);
  box-sizing: border-box;
  background-color: var(--white);
  list-style: none;
  margin-bottom: -20px;
}


.our-portfolio-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border: 1px;
}

.portfolio-info {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);

  flex-direction: column;
  gap: 8px;

  text-align: left; 
}

.portfolio-info p {
  margin-top: 12px;
}
/* Our Portfolio Bitiş */

/* Footer başlangıç */

.footer {
  width: 100%;
  background-color: var(--navy-blue);
  padding: 60px 40px;
  color: var(--white);
  margin-top: auto; 
  
  max-width: 1440px;
 
}

.footer .logo a {
  font-family: var(--second-family);
  color: var(--iris);
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
  margin-left: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.logo a span {
  color: var(--white);
}

.footer p {
  font-family: var(--font-family);
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02px;
  width: 264px;
  height: 112px;
  text-align: justify;
  margin-left: 20px;
}
/* Footer Bitiş */
